/* to make the font size more adaptable i set these setting and then i use REM as a measurement 
    for the sizes in the page */

header img {
    width: 7rem;
    height: 7rem;
    margin: 1rem auto;
}

header {
    box-shadow: 0 0.5px 2px lightgrey;
}

form input {
    margin-bottom: 2rem;
}

form input, form textarea {    
    padding: 5px 1rem;
    border: 0.7px solid #A0D0DF;
    margin: 0.5rem;
    border-radius: 5px;
    width: 30rem;
}

form input:focus, textarea:focus {
    outline: 0.7px solid #A0D0DF;
    color: #A0D0DF;
}

form input::placeholder {
    color: #A0D0DF;
}

form input:focus {
    border: none !important;
}

form input[type="submit"], input[type="button"] {
    background-color: #A0D0DF;
    color: white;
    cursor: pointer;
}

form label {
    font-size: 1.1rem;
    border: none;
}

button#edit, button#del {
    width: 80%;
    margin: auto;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5%;
    margin-bottom: 0.5rem;
}

button#edit a, button#del a {
    color: white;
    text-decoration: none;
}

div#edit_form form {
    text-align: center !important;
    margin: auto !important;
}

div#edit_form form input, textarea {
    width: 40% !important;
}