# Node.js modules
node_modules/

# Logs files or directories that are generated during development of the project
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables exclude any file that contains sensitive information
.env

# Runtime data excludes process ID file and lock file
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul for test coverage report
coverage/

# Optional npm cache directory that excludes npm dictionaries
.npm

# Optional eslint cache that exclude eslint dictionaries
.eslintcache

# IDE and editor files that exclude configuration files for varois IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files that exclude system specific files
.DS_Store
Thumbs.db

# Exclude directories where compiled or built files are stored
dist/
build/

# Exclude temporary files created by editor or during development
*.tmp
*.swp

# Excludes backup and original files that might be generated during development
*.bak
*.orig