<!DOCTYPE html>
<html lang="en">
<!-- include the head from head.ejs file -->
<%- include('includes/head', {title: 'CommunityVoice/Home'}) %>

<style>
/* this media query uses for aliging the form in the center of the page in mobile device */
@media only screen and (max-width: 600px) {
    .navbar {
        padding: 0px 10px !important;
    }

    .navbar a {
        font-size: 13px !important;
    }

    .image-container img {
        height: 300px !important;
    }

    .image-content p {
        font-size: 22px !important;
    }

    .image-content h1 {
        font-size: 30px !important;
        margin-bottom: 10px;
    }

    .body-content div img {
        width: 50px !important;
        height: 50px !important;
    }

    .body-content div p {
        font-size: 12px !important;
    }

    .feedback-form form input, textarea {
        width: 70% !important;
    }

    footer {
        padding: 20px 50px !important;
    }

    footer div.contact {
        width: 100% !important;
        padding: 10px !important;
    }

    footer div.report {
        width: 100% !important;
        padding: 10px !important;
    }
}
</style>

<body>
    <!-- navigation -->
    <%- include('includes/navigation') %>

    <!-- picture after navigation bar -->
    <div class="image-container">
        <img src="images/main-img.jpg" width="100%" height="400px">
        <div class="image-content">
            <p>Welcome to</p>
            <h1>CommunityVoice</h1>
            <a href="/report">REPORT</a>
        </div>
    </div>

    <!-- body content and cards of the page -->
    <div class="body-content">
        <div class="recorded">
            <img src="images/recorded-reports.png">
            <p>Recorded Reports</p>
            <p class="number">1524</p>
        </div>

        <div class="processing">
            <img src="images/in-processing-reports.png">
            <p>In Processing Reports</p>
            <p class="number">1280</p>
        </div>

        <div class="processed">
            <img src="images/processed-reports.png">
            <p>Procesed Reports</p>
            <p class="number">2390</p>
        </div>
    </div>

    <!-- feedback form -->
    <div class="feedback-form">
        <p>Your Feedback</p>
        <form action="#" method="POST">
            <input type="email" placeholder="Email"> <br>
            <textarea name="feedback" id="feedback" placeholder="Write your feedback here..." rows="6"></textarea> <br>
            <input type="submit" value="SUBMIT">
        </form>
    </div>

    <!-- include footer -->
    <%- include('includes/footer') %>
</body>
</html>