<!DOCTYPE html>
<html lang="en">
<!-- include the head from head.ejs file -->
<%- include('includes/head', {title: 'CommunityVoice/Profile'}) %>

<style>
/* this media query uses for aliging the form in the center of the page in mobile device */
@media only screen and (max-width: 600px) {
    .navbar {
        padding: 0px 10px !important;
    }

    .navbar a {
        font-size: 13px !important;
    }

    .personal-info form input, .personal-info form select {
        width: 60% !important;
    }

    div.bonus {
        display: none !important;
    }

    #bonus {
        display: block !important;
    }

    footer {
        padding: 20px 50px !important;
    }

    footer div.contact {
        width: 100% !important;
        padding: 10px !important;
    }

    footer div.report {
        width: 100% !important;
        padding: 10px !important;
    }
}

.profile-content {
    text-align: center;
    padding: 50px 50px 10px 50px;
}

div.personal-info {
    text-align: center;
}
</style>

<body>
    <!-- navigation -->
    <%- include('includes/navigation') %>

    <!-- profile content of the person -->
    <div class="profile-content">
        <img src="images/profile-pic.jpg" width="80px" height="80px" style="border-radius: 50%;">
        <h4>Sadaf Nawaby</h4>
        <h5>Premium User</h5>
        <h5 style="display: none;" id="bonus">123 BONUS</h5>
    </div>

    <!-- personal information of the person -->
    <div class="personal-info">
        <form action="#" method="POST">
            <input type="number" placeholder="Phone Number" id="phone"> <br>
            <input type="email" placeholder="Email" id="email"> <br>
            <select name="language" id="language" style="color: #A0D0DF;">
                <option value="English" selected>English</option>
                <option value="German">German</option>
                <option value="Persian">Persian</option>
                <option value="French">French</option>
            </select> <br>
            <input type="button" value="Save Changes" id="update">
        </form>
    </div>

    <!-- information cards of the page -->
    <div class="profile-body">
        <div class="recorded-reports">
            <img src="images/recorded-reports.png">
            <p>Recorded Reports</p>
            <p class="number">1524</p>
        </div>

        <div class="in-processing-reports">
            <img src="images/in-processing-reports.png">
            <p>In Processing Reports</p>
            <p class="number">15</p>
        </div>

        <div class="processed">
            <img src="images/processed-reports.png">
            <p>Processed Reports</p>
            <p class="number">152</p>
        </div>

        <div class="bonus">
            <img src="images/bonus.png">
            <p>Your Bonus Points</p>
            <p class="number">152</p>
        </div>
    </div>

    <!-- include footer -->
    <%- include('includes/footer') %>
</body>
</html>