<head>
    <!-- these are the meta tags of them page and stylesheets that i use to apply the same style
         to this page -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="css/form-style.css">
    <title><%= title %></title>
</head>